/* Reset some default styling */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #FFD700; /* Yellow text */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header .logo {
    width: 150px; /* Adjust based on your logo size */
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 0.8em;
}
